*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#0f172a;
    color:white;
}

header{
    position:fixed;
    width:100%;
    background:#111827;
    padding:20px 50px;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    display:flex;
    list-style:none;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
}

.hero{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.hero span{
    color:#06b6d4;
}

.hero h1{
    font-size:4rem;
}

.hero h2{
    margin-top:10px;
    color:#94a3b8;
}

.hero p{
    margin:20px 0;
}

.btn,.btn-outline{
    padding:12px 24px;
    border-radius:8px;
    text-decoration:none;
    margin:10px;
}

.btn{
    background:#06b6d4;
    color:white;
}

.btn-outline{
    border:1px solid #06b6d4;
    color:white;
}

section{
    padding:100px 10%;
}

h2{
    text-align:center;
    margin-bottom:30px;
}

.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:20px;
}

.skills-grid div{
    background:#1e293b;
    padding:20px;
    text-align:center;
    border-radius:10px;
}

.project-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:20px;
}

.card{
    background:#1e293b;
    padding:25px;
    border-radius:10px;
}

form{
    max-width:500px;
    margin:auto;
    display:flex;
    flex-direction:column;
    gap:15px;
}

input,textarea{
    padding:15px;
    border:none;
    border-radius:8px;
}

button{
    padding:15px;
    background:#06b6d4;
    border:none;
    color:white;
    border-radius:8px;
    cursor:pointer;
}

footer{
    text-align:center;
    padding:30px;
    background:#111827;
}

.socials a{
    color:white;
    margin:0 10px;
    font-size:24px;
}